<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SocialNetwork.App</a>
            </div>
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <div v-if="getCurrentUser() === '' ">
                    <ul class="nav navbar-nav">
                        <li>
                            <router-link to="/" :exact="true">
                                <span class="glyphicon glyphicon-home"></span> Sign in
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/sign-up">
                                <span class="glyphicon glyphicon-user"></span> Sign up 
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div v-else>
                    <ul class="nav navbar-nav">
                        <li>
                            <router-link to="/" :exact="true">
                                <span class="glyphicon glyphicon-home"></span> Home
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/counter">
                                <span class="glyphicon glyphicon-education"></span> Counter
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/fetchdata">
                                <span class="glyphicon glyphicon-th-list"></span> Fetch data
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/follow-user">
                                <span class="glyphicon glyphicon-cog"></span> Follow user
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/Account">
                                <span class="glyphicon glyphicon-user"></span> Account
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/feed">
                                <span class="glyphicon glyphicon-list-alt"></span> Feed
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/wall">
                                <span class="glyphicon glyphicon-list-alt"></span> Wall
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/block-user">
                                <span class="glyphicon glyphicon-ban-circle"></span> Block user
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/CreatePost">
                                <span class="glyphicon glyphicon-plus"></span> Create Post
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./navmenu.ts"></script>
<style src="./navmenu.css" />
