<template>
    <div id="vueAccount">
        <h1>Account information</h1>
        <hr />
        <div class="row">
            <div class="col-2">Email:</div>
            <div class="col-10">"{{user.email}}"</div>
        </div>
        <div class="row">
            <div class="col-2">Firstname:</div>
            <div class="col-10">"{{user.firstName}}"</div>
        </div>
        <div class="row">
            <div class="col-2">Lastname:</div>
            <div class="col-10">"{{user.lastName}}"</div>
        </div>
        <div class="row">
            <div class="col-2">Gender:</div>
            <div class="col-10">"{{user.gender}}"</div>
        </div>
        <div class="row">
            <div class="col-2">Age:</div>
            <div class="col-10">"{{user.age}}"</div>
        </div>
    </div>
</template>

<style src=""></style>

<script src="./Account.ts"></script>