
@{
    ViewData["Title"] = "Block User";
}

<h1>Blocked users</h1>
<hr />
<div id="vueBlockUser">
    <label for="inputEmail">Email address to block:</label>
    <div style="width: 30%">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <br />
            <button v-on:click="getUserToBlock(inputEmail); blockUser();" class="btn btn-lg btn-primary btn-block" type="submit">Block</button>
    </div>
</div>
<hr />
<div id="vueBlockedUsers" style="font-size: x-large">
    <h3>Currently blocked</h3>
    <br />
    @*<ul>
            <li v-for="blockeduser in blockedusers">{{blockeduser.name}}, {{blockeduser.email}}</li>
        </ul>*@
    <dl id="vueBlocked" v-for="blockedSubscriber in blockedSubscribers">
        <dt>{{blockedSubscriber.firstName}} {{blockedSubscriber.lastName}} {{blockedSubscriber.email}}</dt>
    </dl>
</div>