
@{
    ViewData["Title"] = "CreatePost";
}

<div class="border rounded row" id="appPost">
    <h2 class="col-md-12">Create Post</h2>
    <div class="col-md-2">
        <img class="logo" src="/Images/icons8-administrator-male-52.png" width="50" height="50"/>
    </div>
    <input class="col-md-10" v-model="inputText" />
    <button class="btn btn-primary btn-lg shareBtn" type="submit">Share</button>
</div>

<script>
    new Vue({
        el: '#appPost',
        data: {
            user: applicationState.data.user,
            inputText: 'What\'s on your mind, ' + this.user.firstName
            }
    });
</script>

