
@{
    ViewData["Title"] = "Wall";
}

<h1>User Wall</h1>
<div class="my-3 p-3 bg-white rounded box-shadow" id="wall">
    <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
    <post-template v-for="post in posts"
                   v-bind:firstName="user.firstName"
                   v-bind:lastName="user.lastName"
                   v-bind:content="post.postContent"
                   v-bind:comments="post.comments"
                   v-bind:timestamp="post.postTimeStamp"
                   ></post-template>
</div>


<script type="text/x-template" id="post">
    <div id="post">
        <div class="media text-muted pt-3">
            <img src="/Images/icons8-administrator-male-52.png" width="40" height="40" />
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{firstName}} {{lastName}}</strong>
                {{content}} {{timestamp}}
            </p>
        </div>
        <div v-for="comment in comments" class="col-sm-12 comment ">
            <img src="/Images/icons8-administrator-male-52.png" width="15" height="15" />
            "{{comment.text}}", {{timestamp}}
            </p>
        </div>
        <div class="row commentBtn rounded" >
            <input class="col-10 rounded"/>
            <button class="col-2 rounded" v-on:click="$emit('addComment(currentComment)')">Comment</button>
        </div>
    </div>
</script>

<script>
    Vue.component('post-template', {
        props: ['firstName', 'lastName', 'content', 'comments', 'timestamp', 'commentFirstName', 'commentLastName'],
        template: '#post'
    })
</script>


<!-- Her skal der fetches!-->
<script>
    var vm = new Vue({
        el: '#wall',
        data: {
            user: applicationState.data.user,
            posts: [],
            commentUser: []
        },
        beforeMount() {
            //Get all posts for user
            //vm.user = applicationState.data.user; 
            fetch('https://localhost:44375/api/Post/' + this.user.userId).then(function(response) {
                if (response.status !== 200) {
                    console.log('Looks like there was a problem. Status Code: ' + response.status);
                };
                //Build HTML 
                //Dette virker 100% ikke 
                response.json().then(function (posts) {
                    console.log('Successful fetch ');
                    this.posts = posts;
                    for (i = 0; i < posts.length; i++) {
                        for (j = 0; j < posts[i].comments.length; i++) {
                            commentUser[i] = getUser(posts[i].comments[j].commentAuthorUserId);
                        }
                    }
                    
                });
            });
        }
    })
</script>

