<template>
    <div class="media text-muted pt-3">
        <img src="/Images/icons8-administrator-male-52.png" width="40" height="40" />
        <strong class="d-block text-gray-dark mainpost">Feed of {{currentUser.firstName}} {{currentUser.lastName}}</strong>
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <div v-for="post in allPosts">
                <post-component v-bind:post="post"></post-component>
            </div>
        </p>
    </div>
</template>

<script src="./feed.ts"></script>
