<template>
    <h1>Blocked users</h1>
    <hr />
    <div>
        <label for="inputEmail">Email address to block:</label>
        <div style="width: 30%">
            <input type="email" id="inputEmail" v-model="blockEmail" class="form-control" placeholder="Email address" required="" autofocus="">
            <br />
            <button v-on:click="block()" class="btn btn-lg btn-primary btn-block">Block</button>
        </div>
    </div>
    <hr />
    <div style="font-size: x-large">
        <h3>Currently blocked</h3>
        <br />
        <!--@*<ul>
            <li v-for="blockeduser in blockedusers">{{blockeduser.name}}, {{blockeduser.email}}</li>
        </ul>*@-->
        <dl v-for="blockedSubscriber in blockedSubscribers">
            <dt>{{blockedSubscriber.firstName}} {{blockedSubscriber.lastName}} {{blockedSubscriber.email}}</dt>
        </dl>
    </div>
</template>