<template>
    <div>
        <h1>Block user</h1>
        <hr />
        <div>
            <label for="inputEmail">Email address to block:</label>
            <div style="width: 30%">
                <input type="email" id="inputEmail" v-model="blockEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <br />
                <button v-on:click="block()" class="btn btn-lg btn-primary btn-block">Block</button>
            </div>
        </div>
        <hr />
        <div style="font-size: large">
            <h1>Currently blocked</h1>
            <br />
            <dl v-for="blockedUser in currentlyBlocked">
                <dt>{{blockedUser.firstName}} {{blockedUser.lastName}}, {{blockedUser.email}}</dt>
            </dl>
        </div>
    </div>
</template>
<script src="./block-user.ts"></script>