<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    
    <!-- Insert VUE -->
    <script src="https://unpkg.com/vue"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/NavigationPage.css"/>
    <link rel="stylesheet" href="~/css/Home.css"/>
    <link rel="stylesheet" href="~/css/Wall.css"/>
</head>
<body>

    <div class="container">
        <div class="row navigation">
            <div class="col-md-2"><a asp-controller="Home" class="navigationtext" asp-action="Feed">Feed</a></div>
            <div class="col-md-2"><a asp-controller="Home" class="navigationtext" asp-action="Wall">Wall</a></div>
            <div class="col-md-2"><a asp-controller="Home" class="navigationtext" asp-action="CreatePost">Create Post</a></div>
            <div class="col-md-2"><a asp-controller="Home" class="navigationtext" asp-action="FollowUser">Follow User</a></div>
            <div class="col-md-2"><a asp-controller="Home" class="navigationtext" asp-action="BlockedUser">Blocked Users</a></div>
            <div class="col-md-2"><a asp-controller="Home" class="navigationtext" asp-action="Account">Account</a></div>
        </div>



        <main role="main" class="pb-3">
            @RenderBody()
        </main>




    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/js/UserCookie.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
