<template>
    <div>
        <h1>Weather forecast</h1>

        <p>This component demonstrates fetching data from the server.</p>

        <table v-if="users.length" class="table">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Subscribe</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" v-if="user.userId !== currentUser.userId">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>
                    <div v-if="currentUserIsSubscribedTo(user)">
                        <p>Already subscribed!</p>
                    </div>
                    <div v-else>
                        <input type="button" v-on:click="followUser(user.userId)" value="Subscribe" />
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <p v-else><em>Loading...</em></p>
    </div>
</template>

<script src="./follow-user.ts"></script>
